[submodule "hazm_cpp"]
	path = hazm_cpp
	url = /home/oem/Basir/G2P/hazm/hazm_cpp
[submodule "persian-ezafe-albert-cpp"]
	path = persian-ezafe-albert-cpp
	url = /home/oem/Basir/G2P/persian-ezafe-albert-cpp
